<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @score.uid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @score.username %>
</p>

<p>
  <strong>Points:</strong>
  <%= @score.points %>
</p>

<p>
  <strong>Date:</strong>
  <%= @score.date %>
</p>

<%= link_to 'Back', scores_path %>
